html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}

.name {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.initials-logo {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.75rem;
}