@page
@model IndexModel

<div class="d-flex flex-column text-center align-items-center">
    <div class="row mt-5 align-content-center">
        <div class="col-12">
            <img class="logo-lg" src="~/assets/code.svg"/>  
            <h1 class="name">Marcus Saraiva</h1>
        </div>
    </div>
    <div class="row mt-3 socials-midias">
        <div class="col-12">
            <a><i class="bi bi-envelope"></i></a>
            <a target="_blank" href="https://github.com/marcussaraiva" alt="link para o Github"><i class="bi bi-github"></i></a>
            <a target="_blank" href="https://www.instagram.com/saraivamarcus18/" alt="link para o Instagram"><i class="bi bi-instagram"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/marcus-saraiva-dev/" alt="link para LinkedIn"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 continue">
            <a><i class="bi bi-chevron-down"></i></a>
        </div>
    </div>
</div>
